<div class="row">
	<div class="col-sm-8">
		<h1>
			<%= t(:videos) %>
			<% if policy(Video).new? %>
				<%= link_to new_video_path, class: "btn btn-link" do %>
					<%= (:new) %>
					<%= content_tag :i, "", class: "fa fa-plus" %>
				<% end %>
			<% end %>
		</h1>
	</div>
</div>
<div class="row">
	<% @videos.each do |video| %>
		<div class="card" style="width: 18rem;">
		  <div class="card-body">
		    <h5 class="card-title"><%= video.name %></h5>
		    <h6 class="card-subtitle mb-2 text-muted"><%= video.url %></h6>

		    <%#= link_to t(:update), edit_video_path(video.id), class: "card-link" %>
		    <%# if policy(video).delete? %>
			    <%#= link_to t(:delete), video_path(video.id), class: "card-link", data: {:confirm => 'Are you sure?'}, :method => :delete  %>
		    <%# end %>

		  </div>
		</div>
	<% end %>
	<%= paginate @videos %>
</div>